<?xml version='1.0' encoding='utf-8'?>
<WebsiteSettings>
    <Title>Cursed Entertainment</Title>
    <Theme>Cursed Default</Theme>
    <Author>Cursed</Author>
    <Description>Website for Cursed Entertainment.</Description>
    <Homepage>index.html</Homepage>
    <Navigation>
        <MenuItem>Index</MenuItem>
        <MenuItem>Home</MenuItem>
        <MenuItem>Tools</MenuItem>
      <MenuItem>Games</MenuItem>
      <MenuItem>Music</MenuItem>
    </Navigation>
</WebsiteSettings>
