body {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form select {
    color: #ffffff;
    width: 200px;
    padding: 10px;
    font-size: medium;
    border: 1px solid #ffffff;
    background-color: #007AB7;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

form select::-ms-expand,
form select::-webkit-select {
    display: none;
}

form select:hover {
    background-color: #103345;
    border: thin solid #34A9E3;
}

