#discord {
  padding-top: 455px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 14%;
  list-style: none;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
  z-index: 2;
}