.header_img {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.header_img img {
  animation-name: logo-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.header_logo img {
  animation-name: logo-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}