.banner-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: -1;
  width: 100%;
  box-sizing: border-box;
}

.banner-ad img {
  height: auto;
  width: 100%;
}