@charset "utf-8";
/* CSS Document */
#container {
    padding-top: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
   display: inline-block;
    flex-direction: row;
}
