@charset "utf-8";

#game-selector form {
    margin-top: 10px;
  }
  
  #games {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #games:hover {
    border-color: #888;
  }