@import url('../../../iframes/header-style');

.header_container {
  padding-top: 4%;
  max-height: 230px;
  min-width: 100%;
  background-color: var(--color-secondary);
  position: fixed;
  top: -24px;
  border-bottom: thin inset #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  overflow: hidden;
}

.header_img {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.header_img img {
  animation-name: logo-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.header_logo img {
  animation-name: logo-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}