@charset "utf-8";
@media only screen and (max-width: 600px) {
  #twitter-timeline, #discord {
    display: none;
  }
}
.home-content {
  position: relative;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: inline-block;
  flex-direction: column;
  padding-bottom: 2%;
}
.container {
  padding-top: 280px;
  max-width: 65%;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
}
#twitter-timeline {
  padding-top: 320px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 14%;
  list-style: none;
  padding-right: 25px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
}
.twitter-container {
  max-width: 70%;
  margin-left: 200px;
  text-align: left;
  display: inline-block;
  z-index: 2;
}
#qr-code {
  padding-top: 1%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 14%;
  list-style: none;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1%;
  z-index: 3;
}
.qr-container {
  max-width: 30px;
  text-align: right;
  display: block;
}
#discord {
  padding-top: 455px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 14%;
  list-style: none;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
  z-index: 2;
}
