@import url('../styles/qr-code-style');
@import url('../styles/social-embed-styles/twitter-style');
@import url('../styles/social-embed-styles/discord-style.css');
@import url('../styles/body-copy.css');


@media only screen and (max-width: 1080px) {
  #twitter-timeline,
  #discord {
    display: none;
  }
}

.home-content {
  display: flex;
  position: relative;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2%;
  background-color: transparent;
  width: 80%;
}

.home-content .content {
  padding-top: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#twitter-timeline {
  padding-top: 320px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 14%;
  list-style: none;
  padding-right: 25px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
  z-index: 2;
}