@import url('../styles/icon-style.css');

.icons_container {
  vertical-align: middle;
  display: flex; 
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%; /* Set the container width to 80% */
  overflow-x: auto; /* Add horizontal scrollbar if content overflows */
  margin: 0 auto; /* Center the container horizontally */
}

.icons_container iframe {
  max-width: 100%; 
}
