@charset "utf-8";

@import url('animations-style.css');
@import url('footer-style.css');
@import url('icons-container-style.css');
@import url('header-style.css');
@import url('banner-ad-style.css');
@import url('video-style.css');
@import url('webgl-style.css');
@import url('mobile-style.css');

@font-face {
  font-family: 'Futura';
  src: url('https://fonts.googleapis.com/css?family=Futura');
}

html,
body {
  height: 100%;
  z-index: 0;
  background-color: #007ab7;
  color: #fff;
  display: block;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: Futura, sans-serif;
  font-weight: lighter;
  letter-spacing: 3px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #005184;
}

::-webkit-scrollbar-thumb {
  background: #007ab7;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

h1 {
  font-weight: bold;
  text-align: center;
}

p {
  text-align: left;
}

h2 {
  font-weight: bold;
  text-align: center;
}

ul {
  list-style: none;
  align-items: center;
  text-align: left;
}

strong {
  text-align: center;
}

a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 2%;
}

li {
  align-content: center;
  text-align: left;
}

.op_bg {
  background-color: rgba(0, 122, 183, 0.8);
}

.bg {
  position: absolute;
  background-image: url('https://raw.githubusercontent.com/CursedPrograms/cursedentertainment/main/images/WebsiteBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  filter: blur(10px);
  height: 100%;
  z-index: -1;
}

.content {
  background-color: transparent;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  padding-bottom: 2%;
  justify-content: center;
}

#game-selector form {
  margin-top: 10px;
}

#games {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

#games:hover {
  border-color: #888;
}