@charset "utf-8";
@keyframes logo-anim {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@font-face {
  font-family: 'Futura';
  src: url('https://fonts.googleapis.com/css?family=Futura');
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: Futura, sans-serif;
  font-weight: lighter;
  letter-spacing: 3px;
}
body {
  z-index: 0;
  background-color: #007ab7;
  color: #fff;
  display: block;
  align-items: center;
  padding-bottom: 2%;
}
footer {
  font-weight: lighter;
  text-align: center;
}
h1 {
  font-weight: bold;
  text-align: center;
}
p {
  text-align: left;
}
h2 {
  font-weight: bold;
  text-align: center;
}
ul {
  list-style: none;
  align-items: center;
  text-align: left;
}
strong {
  text-align: center;
}
a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 2%;
}
li {
  align-content: center;
  text-align: left;
}
div {
  margin-bottom: 1%;
}
.op_bg {
  background-color: rgba(0, 122, 183, 0.8);
}
.img_bg {
  background-image: url('path/to/image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-ad1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  z-index: 2;
}
.banner-ad {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 33.91%;
  border-radius: 10px;
  z-index: 2;
}
.banner-ad img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  padding-bottom: 2%;
  justify-content: center;
  height: 100%;
}
.online-buttons {
  width: 100%;
  list-style: none;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  max-height: 60px;
  line-height: 10px;
}
.online-buttons li {
  display: inline-block;
  padding-right: 2px;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-top: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.online-buttons li a {
  display: inherit;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #168FCC;
  border-radius: 10px / 5px;
  width: 300px;
  border: thin solid #FFFFFF;
  font-size: medium;
  height: 10px;
}
.online-buttons li a:hover {
  background-color: #f088e9;
  border: thin solid #FFFFFF;
  border-radius: 8px / 4px;
  opacity: 1;
  color: #FFFFFF;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: inherit;
  width: 300px;
  font-size: medium;
  height: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 16px 1px #FFFFFF;
  box-shadow: 0px 0px 16px 1px #FFFFFF;
}
.header_container {
  padding-top: 4%;
  max-height: 230px;
  min-width: 100%;
  background-color: #007ab7;
  position: fixed;
  top: -24px;
  border-bottom: thin inset #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
.header_img {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.header_img img {
  animation-name: logo-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.header_logo img {
  animation-name: logo-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.webgl-container {
  min-width: 100%;
  padding: 5%;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.videocontainer {
  max-width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.video {
  padding: 15%;
  margin: 1%;
}
.advert-container {
  max-height: 230px;
  min-width: 100%;
}
.horizontal-menu {
   color: #FFFFFF;
  list-style: none;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  padding-left: 2px;
  font-size: 50%;
  max-height: 60px;
  line-height: 10px;
  text-align: center;
}
.horizontal-menu li {
  display: flex;
  padding-right: 2px;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-top: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.horizontal-menu li a {
  display: inherit;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-color: #168FCC;
  border-radius: 10px / 5px;
  border: thin solid #FFFFFF;
  font-size: medium;
  height: 10px;
}
.horizontal-menu li a:hover {
  background-color: #f088e9;
  border: thin solid #FFFFFF;
  border-radius: 8px / 4px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: inherit;
  -webkit-box-shadow: 0px 0px 16px 1px #FFFFFF;
  box-shadow: 0px 0px 16px 1px #FFFFFF;
}

.horizontal-menu ul {
  display: flex;
  flex-direction: row;
}
