body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div {
    width: 80%;
    text-align: center;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

#logo {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cover {
    margin-top: 20px;
}

h1 {
    color: var(--primary-color);
}

pre {
    width: 50%;
    background-color: var(--accent-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    overflow-x: auto;
}

p {
    width: 50%;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

.content {
    width: 80%;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}