.box-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.box1 {
  width: 20rem;
  height: 20rem;
  background-color: var(--color-secondary);
}

.box2 {
  width: 20rem;
  height: 20rem;
  background-color: var(--color-tertiary);
}

.box3 {
  width: 20rem;
  height: 20rem;
  background-color: var(--color-secondary);
}

.box4 {
  width: 20rem;
  height: 20rem;
  background-color: var(--color-tertiary);
}

.box5 {
  width: 20rem;
  height: 20rem;
  background-color: var(--color-secondary);
}

.box6 {
  width: 20rem;
  height: 20rem;
  background-color: var(--color-tertiary);
}

.scoll-container {
  width: 20rem;
  height: 20rem;
  background: var(--color-text);
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

.scoll-container div {
  min-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: var(--color-text);
  scroll-snap-align: centre;
}