select {
	text-align: center;
  width: 400px;
  height: 40px;
  background-color: #007ab7;
  color: #fff;
  border-radius: 10px / 5px;
  border: thin solid #FFFFFF;
  font-size: small;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  flex-grow: 1;
  display: flex;
}
select option {
	text-align: center;
	font-size: small;
  background-color: #007ab7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 16px;
}
select option:hover {
  background-color: #f088e9;
}

