select {
  width: 400px;
  height: 40px;
  font-size: small;
  text-align: center;
  background-color: #007ab7;
  color: #fff;
  border: thin solid #FFFFFF;
  border-radius: 10px / 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
}

select option {
  font-size: small;
  text-align: center;
  background-color: #007ab7;
  margin-bottom: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select option:hover {
  background-color: #f088e9;
}

